--extra-index-url https://download.pytorch.org/whl/cpu
requests
beautifulsoup4
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-groq
faiss-cpu
streamlit
groq
fastapi
uvicorn
python-dotenv
pydantic
sentence-transformers
torch==2.2.2+cpu
scikit-learn
brotli
